body {
    background-color: lightblue;
    background-image: linear-gradient(to bottom right, aqua, limegreen);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    border: 5px solid #000000;
}

h1 {
    font-family: Calibri;
    color: rgb(128, 82, 202);
}

a {
    font-family: Calibri;
    font-size: 30px;
    text-decoration: none;
}

/* Hoooly fuck here we go */

.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

div {
    text-align: center;
}