body {
    background-color: lightblue;
    background-image: linear-gradient(to bottom right, aqua, limegreen);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-color:cyan;
    border-radius: 20px;
    border-width: 2px;
}

h1 {
    font-family: Calibri;
    text-align: center;
}

a {
    font-family: Calibri;
    font-size: 30px;
}

/* Hoooly fuck here we go */

.center {
    margin: 0;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* yknow this probably isn't needed but whatever */
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.separator {
    background-color: aquamarine;
    border-style: none, dashed, none, none;
    border-radius: 20px;
    border-color: aquamarine;
}