body {
    background-color: lightblue;
    background-image: linear-gradient(to bottom right, aqua, limegreen);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: Calibri;
    text-align: center;
    color: antiquewhite;
}

a {
    font-family: Calibri;
    font-size: 30px;
}

/* Hoooly fuck here we go */



.box {
    border-style: dashed;
    border-radius: 18px;
    border-color: turquoise;
    border-width: 8px;
}